<p id="notice"><%= notice %></p>

<p>
  <strong>Box:</strong>
  <%= @box.box_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @box.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @box.name %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @box.total_value %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
