<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item.item_id %>
</p>

<p>
  <strong>Box:</strong>
  <%= @item.box_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @item.value %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
